body {
//primary colors
    --orange-primary: #FFC107;
    --blue-primary: #2196F3;
    --green-primary: #2BCD2B;

    --warning-color: #DC143C;

//text colors
    --text-light-grey:#787C85;
    --text-dark-grey:#414141;

//backgrounds
    --light-background: #f9f9f9;
}