@import './base.css';
@import './colors.scss';
@import 'primeicons/primeicons.css';
@import 'cards.scss';


#app {
  margin: 0 auto;
  font-weight: normal;
}

h1 {
  font-size: 18px;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
}
